<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.fm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity android:name="com.mobile.fm.main.ActionBookmark"></activity>
        <activity android:name="com.mobile.fm.main.ActionUser" />
        <activity android:name="com.mobile.fm.main.ActionSearch" />
        <activity android:name="com.mobile.fm.main.ActionHome" />-->
        <activity android:name="com.mobile.fm.music.MusicActivity" />
        <activity android:name="com.mobile.fm.music.MusicListActivity" />
        <activity android:name="com.mobile.fm.exerciseboard.WritePostActivity" />
        <activity android:name="com.mobile.fm.exerciseboard.ExerciseActivity" />
        <activity android:name="com.mobile.fm.login.FindActivity" />
        <activity android:name="com.mobile.fm.main.ContentActivity" />
        <activity android:name="com.mobile.fm.login.SignUpActivity" />
        <activity android:name="com.mobile.fm.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>