<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.fm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_4m3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_4m3_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".login.LoginActivity"></activity>
        <activity android:name=".main.search.SearchPostActivity" /> <!-- <activity android:name="com.mobile.fm.main.ActionBookmark"></activity> -->
        <!-- <activity android:name="com.mobile.fm.main.ActionUser" /> -->
        <!-- <activity android:name="com.mobile.fm.main.ActionSearch" /> -->
        <!-- <activity android:name="com.mobile.fm.main.ActionHome" /> -->
        <activity android:name=".music.activity.MusicActivity" />
        <activity android:name=".music.activity.MusicListActivity" />
        <activity android:name=".login.FindActivity" />
        <activity android:name=".main.ContentActivity" />
        <activity android:name=".login.SignUpActivity" />
        <activity android:name=".exerciseboard.activity.BasicActivity" />
        <activity android:name=".exerciseboard.activity.GalleryActivity" />
        <activity android:name=".exerciseboard.activity.MainActivity" />
        <activity android:name=".exerciseboard.activity.PostActivity" />
        <activity android:name=".exerciseboard.activity.WritePostActivity" />
        <activity android:name=".main.userinfo.UserInfoActivity" />
        <activity android:name=".category.activity.CategoryMainActivity" />
        <activity android:name=".category.activity.RecommendationsActivity" />
        <activity android:name=".login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>